* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--typo-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  overflow-x: hidden;
  position: relative;
}

img {
  font-family: 'object-fit: cover; object-position: center;';
  height: 100%;
  object-fit: cover;
  width: 100%;
}

h3,
h2,
p {
  margin: 0;
  padding: 0;
}

p {
  color: var(--color-4--4);
  font-size: 1.8rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('LatoLight'), url('./assets/fonts/Lato/LatoLight.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('LatoRegular'), url('./assets/fonts/Lato/LatoRegular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('LatoBold'), url('./assets/fonts/Lato/LatoBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  src: local('SyneSemiBold'), url('./assets/fonts/Syne/SyneSemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: local('SyneBold'), url('./assets/fonts/Syne/SyneBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  src: local('SyneExtraBold'), url('./assets/fonts/Syne/SyneExtraBold.woff2') format('woff2');
} */

:root {
  /* Site colors */
  --color-1--1: #676f9d;
  --color-1--2: #424769;
  --color-1--3: #2d3250;
  --color-2--1: #f9b17a;
  --color-3--1: #dd377d;

  /* Grey color */
  --color-4--1: #f7f7f7;
  --color-4--2: #efefef;
  --color-4--3: #c5c5c5;
  --color-4--4: #707070;
  --color-4--5: #5a5a5a;

  /* Neutral colors */
  --color-black: #000;
  --color-white: #fff;

  /* Notification colors */
  --color-green: #5ca465;
  --color-green-light: #ecfcee;
  --color-green-dark: #226e3a;
  --color-red: #f95b5c;
  --color-red-light: #fff5f5;
  --color-red-dark: #c81c1e;

  /* Fonts */
  --typo-1: 'Syne', Arial, Tahoma, sans-serif;
  --typo-2: 'Lato', Arial, Tahoma, sans-serif;
}
